@import '../../../style/mixins.scss';

.NavList {
  list-style: none;
  padding: 0;
  margin: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;

  border-bottom: 1px solid #000000;
  -webkit-box-shadow: 0px 12px 16px -3px rgba(23, 23, 24, 0.43);
  box-shadow: 0px 12px 16px -3px rgba(23, 23, 24, 0.43);
  @include crossBrowser(transition, all 1s ease);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #8a8a8a;
    background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
  }
}
