@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.NotesPage {
  height: 550px;
  padding: 75px 35px;
  display: flex;
  justify-content: center;

  transition: all 0.5s ease;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 100%;
    padding: 28px 45px;
    position: relative;
    background-color: #949494;
    background-image: url('https://www.transparenttextures.com/patterns/checkered-light-emboss.png');
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 0.5s ease;
    overflow: hidden;
  }

  &__list {
  }
}
