@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.NavListItem {
  cursor: pointer;

  @include crossBrowser(transition, all 0.4s ease);

  -webkit-animation: nav-item-in 1s linear forwards;
  animation: nav-item-in 1s linear forwards;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__link {
    font: 16px 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    display: inline-block;
    font-weight: 700;
    margin: 0px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: $main-color;
    text-shadow: 3px 3px 2px $shadow-color;

    @include crossBrowser(transition, all 0.4s ease);

    &:hover:not(.NavListItem__link--active) {
      @include crossBrowser(transform, scale(1.2));

      color: $main-color-hover;
      text-shadow: none;
    }
    &:active:not(.NavListItem__link--active) {
      @include crossBrowser(transform, scale(1.2));
      color: $main-color-active;
      text-shadow: none;
    }

    &--active {
      position: relative;
      color: $active-color;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        animation: active-link-in 600ms linear forwards;
        height: 2px;
        border-radius: 10px;
        box-shadow: 3px 3px 2px $shadow-color;
        background-color: $main-color-active;
      }
    }

    @media (max-width: $media-tablets) {
      font: 14px 'Open Sans', sans-serif;
      margin: 0px 11px;
    }
    @media (max-width: $media-phones) {
      font: 12px 'Open Sans', sans-serif;
      margin: 0px 8px;
    }
    @media (max-width: $media-small-phones) {
      font: 11px 'Open Sans', sans-serif;
      margin: 0px 7px;
    }
  }
}

@-webkit-keyframes nav-item-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-item-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes active-link-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
