@import './reset.scss';
@import './normalize.scss';
@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', 'Roboto Condensed', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  user-select: none;

  color: #000;
  @include crossBrowser(transition, all 0.2s ease);
}
::-webkit-scrollbar {
  width: 0;
}
header {
  z-index: 10;
}
section {
  z-index: 5;
}

.hidden {
  display: none;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;

  @include crossBrowser(transition, all 0.5s ease);

  @media (max-width: $media-laptops) {
    width: 965px;
  }
  @media (max-width: $media-small-desktops) {
    width: 650px;
  }
  @media (max-width: $media-tablets) {
    width: 410px;
  }
  @media (max-width: $media-phones) {
    width: 350px;
  }
  @media (max-width: $media-small-phones) {
    width: 315px;
  }
}

.pulse {
  animation: pulse 1.5s ease-in-out 0.5s infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animated-background {
  0% {
    background-size: 182%;
  }
  100% {
    background-size: 102%;
  }
}
