// media queries for this project

$media-laptops: 1200px;
$media-small-desktops: 991px;
$media-tablets: 768px;
$media-phones: 420px;
$media-small-phones: 350px;

$main-color: #fff;
$main-color-hover: rgb(220, 245, 255);
$main-color-active: rgb(171, 231, 254);

$shadow-color: rgba(0, 0, 0, 0.7);

$active-color: rgb(159, 228, 255);
$active-color-hover: rgb(104, 212, 255);
$active-color-active: rgb(47, 196, 255);
