// media queries for this project

$mediaLaptops: 1200px;
$mediaSmallDesktops: 991px;
$mediaTablets: 768px;
$mediaSmallTablets: 650px;
$mediaPhones: 420px;
$mediaSmallPhones: 350px;

$main-color: #fff;
$main-color-hover: rgb(220, 245, 255);
$main-color-active: rgb(171, 231, 254);

$shadow-color: rgba(0, 0, 0, 0.7);

$active-color: rgb(159, 228, 255);
